{% extends 'masters/index.html' %}
{% load staticfiles %}

{% block content %}
    <div id="app">

    </div>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p class="biotext">Well hello there, you beautiful person! Welcome to my site!</p>
        <p class="biotext">My name is Matthew William Bresnan, and I'm a full stack web developer.</p>
        <p class="biotext">I'm extremely passionate about building quality software. I thrive on difficult problems, and live for the 'Eureka!' moment. My whole life I've loved to tinker with computers, and it's shaped the way I view the world. I get a thrill out of writing complex algorithms(I'm an adrenaline junkie if you couldn't tell). In addition to software, I also build PCs, and nothing gets my blood pumping like new PC parts.</p>
        <p class="biotext">Outside of tech, I'm an avid gamer, fisherman, and dog-lover.</p>
        <p class="biotext">I'm currently funemployed *cough cough* erm I mean "freelance", but hopefully that will change soon.</p>
        <p class="biotext">Check out my <a href="/blog" class="biobloglink">blog!</a></p>
        <p class="biotextclose">Live Long and Propser!</p>
    </div>
{% endblock %}

{% block header %}
    <header class="intro-header intro-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">Future Leader of the Free World</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}