{% extends 'masters/index.html' %}
{% load staticfiles %}


{% block header %}
<!--     <header class="intro-header intro-index">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Lord Bresnan</h1>
                        <hr class="small">
                        <span class="subheading">Web Developer</span>
                    </div>
                </div>
            </div>
        </div>
    </header> -->
{% endblock %}

{% block content %}

<!--     <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="welcomemsg">&quot<span class="welcome">Welcome</span> to the personal website of Matthew William Bresnan, freelance web dev. Check out my blog!&quot
        </div>
        <hr>
    </div>

    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h3 class="latestblog" >Latest Blog Entries:</h3>
    </div> -->

    <div id="app">
    </div>

{% endblock %}