{% extends 'masters/index.html' %}
{% load staticfiles %}

{% block content %}
    {% csrf_token %}
    <div id="app"></div>
{% endblock %}

{% block header %}
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Blog Detail</h1>
                        <hr class="small">
                        <span class="subheading">Cool stuff</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}