{% extends 'masters/index.html' %}
{% load staticfiles %}

{% block content %}<div id="app"></div>{% endblock %}

{% block header %}
    <header class="intro-header intro-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Blog</h1>
                        <hr class="small">
                        <span class="subheading">Ramblings, Rantings, and Ravings</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}