/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #c7d0d5;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.navbarContainer {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
}

#app {
  /*background-color: #2d2b2b;*/
  /*background-color: #070707;*/

}

#appRoot {
  /*background-color: #2d2b2b;*/
  background-image: url("../img/office-l.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;

}

.myNavBar {
  padding: 0;
  margin: 0;
  border: none;
}

.footer {
  margin-top: 10px;
  border-top: 2px solid red;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.site-heading h1 {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
  font-family: 'Lucida Grande', 'Ariel', 'Times New Roman';
  font-variant: small-caps;

  /*color: #ff7148;*/
  /*color: #0080FF;*/
  color: #80C0FF;

}

.site-heading .subheading {
  text-shadow: 0px 1px 1px #4d4d4d;
  color: #FF8000;
  font: 80px 'LeagueGothicRegular';

}

.intro-header {
  /*background-color: #c7d0d5;*/
  background-image: url('../websiteimgs/pMAiU.jpg')
}

.latestblog {
  color: #7094A8;
}

.morebloglink {
  color: #7094A8;
  text-decoration: underline;
}

.welcome {
  color: #7094A8;
}
.welcomemsg {
  font-size: 16px;
  font-style: italic;
}

.biotext {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;

}

.biotextclose {
  font-weight: bold;
}

.biobloglink {
  color: #7094A8;
}

.comment {
  margin-top: 20px;
  word-wrap: break-word;
}

.comment-name {
  font-size: 16px;
  font-weight: bold;
}

.comment-date {
  font-style: italic;
  font-size: 14px;
}

.comment-msg {
  font-size: 14px;
}

.add-comment {
  font-size: 16px;
}

.comment-well {
  background-color: white;
}

.add-comment-msg {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.add-comment-err {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  color: red;
}

.intro-index {
  background-image: url('../websiteimgs/code-wallpaper.png');

}

.intro-about {
  background-image: url('../img/Pc-Wallpapers-2c.jpg');
}

.intro-blog {
  /*background-image: url('../img/server-datacenterc.jpg');*/
  background-color: black;
}

.intro-blogpost {
  /*background-image: url('../img/desk.jpg');*/
  background-image: url('../img/Keyboard-Computerc.jpg');

  /*background-image: url('../websiteimgs/code-wallpaper-4.png');*/
}

.intro-contact {
  background-image: url('../img/letter-mail-envelope copy.jpg');
}

.myNavBar {
  /*background-image: url('../websiteimgs/black-website-background.jpg');*/
  /*margin: 0 auto;*/
  /*background-color: black;*/
  /*border-bottom: 1px solid red;*/
}

.footer {
  margin-top: 200px;
  border-top: 2px solid red;
  background-image: url('../websiteimgs/black-website-background.jpg');
}

.tag-button {
  width: 37px;
}

.tag {
  background-color: #d6d09e;
  border: 1px solid black;
  border-radius: 25px;
  width: 75px;
  float: left;
  text-align: center;
  font-size: 10px;
  cursor: pointer;

}

.tagclear {
  clear: left;
}

.blog-menu {
  color: green;
}

.blog-menu-item {
  color: green;
  float: left;
}

.homePanels {
  height: 1800px;
  margin: 100px 0;
  padding: 0;
}

.homePanel {
  height: 400px;
  background-color: white;
  padding: 0;
  margin-bottom: 400px;
}

.lastPanel {
  margin-bottom: 100px;
}

#main {
 height:100%;
 padding: 0;
}

.portrait {
  height: 350px;
  background-image: url("../img/portrait.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 25px;
}

.bio {
  height: 400px;
}

.codepic {
  height: 350px;
  background-image: url("../img/codeimg.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 25px;

}

.aboutme {
  height: 400px;
}
